create_recomendaton.txt
func/date/users.db
bot2.py
test.txt
func/date/users_test_base.db
func/__pycache__/generate_and_answer.cpython-313.pyc
func/__pycache__/create_db.cpython-313.pyc
func/__pycache__/command_start.cpython-313.pyc
func/data_base/users_test_base.db
func/data_base/users.db
func/data_base/__pycache__/create_db.cpython-313.pyc
func/__pycache__/__init__.cpython-313.pyc
